@font-face {
    font-family: yekan-bakh;
    font-style: normal;
    font-weight: 500;
    src: url(normal/500.eot?) format("eot"),
    url(normal/500.woff) format("woff"),
    url(normal/500.ttf) format("truetype")
}

